<head>
<style type="text/css">
    .icon-resources {background : url('modules/resources/img/icone-resources.png') no-repeat; float: left; height: 32px; width: 48px}
    .icon-metal {background-position: 0 -160px;}
    .icon-cristal {background-position: -48px -160px;}
    .icon-deuterium {background-position: -96px -160px;}
    .positive{color:green}
    .negative{color:red}
    input {width: 100px}
</style>
</head>

<table id="calculator">
    <tbody ng-repeat="type in ['metal', 'cristal', 'deuterium']">
    <tr>
        <td><span class="icon-resources icon-{{type}}"/></td>
        <td><input type="number" min="0" ng-model="amount"/></td>
        <td ng-class="{true:'positive',false:'negative'}[resources()[type].quantity - amount >= 0]">{{resources()[type].quantity - amount| number:0}}</td>
    </tr>
    <tr ng-hide="resources()[type].quantity - amount >= 0">
        <td colspan="3">Temps restant : {{s2t((amount - resources()[type].quantity)/resources()[type].production)}}</td>
    </tr>
    <tr ng-hide="resources()[type].quantity - amount >= 0">
        <td colspan="3">Finis le : {{nowAddSecondes((amount - resources()[type].quantity)/resources()[type].production)|date:'dd/MM/yyyy HH:mm:ss'}}</td>
    </tr>
    </tbody>
</table>

