<head>
    <style type="text/css">
        .label{width:125px;}
        .coordG{width: 15px;}
        .coordS{width: 22px;}
        .coordP{width: 15px;}
    </style>
</head>

<table>
    <tbody>
    <tr>
        <td class="label">
            Activer la centralisation:
        </td>
        <td>
            <input type="checkbox" ng-model="moduleActive" ng-checked="moduleActiveBoolean" ng-change="updateModuleActive()"/>
        </td>
    </tr>
    <tr>
        <td class="label">
            Destination:
        </td>
        <td>
            <input class="coordG" type="text" ng-model="galaxy" /> :
            <input class="coordS" type="text" ng-model="system"/> :
            <input class="coordP" type="text" ng-model="position"/> -
            <select ng-model="astre" ng-options="c.name for c in astres" ng-change="updateAstre()"></select>
        </td>
    </tr>
    <tr>
        <td class="label">
            Type de centralisation:
        </td>
        <td>
            <select ng-model="centralisationType" ng-options="c.name for c in centralisationTypes" ng-change="updateCentralisationType()"></select>
        </td>
    </tr>
    </tbody>
</table>

